.photo {
    margin-left: 50%
}

.main-color {
    color: #2F7B9D
}

.bg-second-color {
    background-color: #7e7e7f;
}
.bg-main-color {
    background-color: #2F7B9D;
}

header li {
    font-size: 1.5em;
}

/*header {*/
    /*position: fixed;*/
    /*top:0;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/


.my-jumbotron {
    width: 100%;
    background-image: url(b_g.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.my-jumbotron-slogan {
    background: rgba(0,0,0,0.4);
}
.my-section-mission h2 {
    color: #2F7B9D;
}

.my-mission-text:after {
    content: "";
    display: block;
    border: 2px solid rgb(0,148,21);
    width: 350px;
    margin: 30px auto;
}

.my-mission-background-icon {
    width: 100px;
    height: 100px;
    border: 1.5px solid #2F7B9D;
    border-radius: 50%;
    padding: 0.4rem;
    position: relative;
}

.my-mission-icon {
    font-size: 2rem;
    color: #2F7B9D;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#producent p {
    font-size: 2.2em;
}

.my-products-text:after {
    content: "";
    display: block;
    border: 1px solid #2F7B9D;
    width: 300px;
    margin: 30px auto;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(211,221,237,0.5);
}

#footer a{
    color: white;
}