/*html {*/
    /*font-size: 10px;*/
/*}*/
/*i teraz wszystkiemu rem od tego*/
/*letter spacing*/

* {
    font-family: 'Montserrat', sans-serif
}

p{
    font-family: 'Hind', sans-serif
}

.photo {
    margin-left: 50%
}

.main-color {
    color: #2F7B9D
}

.bg-second-color {
    background-color: #7e7e7f;
}
.bg-main-color {
    background-color: #2F7B9D;
}

header li {
    font-size: 1.5em;
}

/*header {*/
    /*position: fixed;*/
    /*top:0;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/


.my-jumbotron {
    width: 100%;
    background-image: url(b_g.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.my-jumbotron-slogan {
    background: rgba(0,0,0,0.4);
}

.my-section-mission h2 {
    color: #2F7B9D;
}

.my-mission-text:after {
    content: "";
    display: block;
    border: 2px solid rgb(0,148,21);
    width: 350px;
    margin: 30px auto;
}

.my-mission-background-icon {
    width: 100px;
    height: 100px;
    border: 1.5px solid #2F7B9D;
    border-radius: 50%;
    padding: 0.4rem;
    position: relative;
}

.my-mission-icon {
    font-size: 2rem;
    color: #2F7B9D;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#producent p {
    font-size: 2.2em;
}

.my-products-text:after {
    content: "";
    display: block;
    border: 1px solid #2F7B9D;
    width: 300px;
    margin: 30px auto;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(211,221,237,0.5);
}

#footer a{
    color: white;
}

/*popup*/

#window_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
}

#window_overlay.opened {
    opacity: 1;
    -webkit-transition: opacity 100ms;
    transition: opacity 100ms;
    visibility: visible;
}

.window_content {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
    transform: translate(-50%, -50%) scale(0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    visibility: hidden;
    z-index: 10001;
}

.window_content.opened {
    -webkit-transition: transform 300ms;
    transition: transform 300ms;
    -ms-transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    visibility: visible;
}

.window_content .window_close {
    width: 30px;
    height: 30px;
    margin: -10px -10px 0 0;
    border-radius: 50%;
    background-color: #ec3f22;
    font-family: Arial, sans-serif;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.window_content .window_close:hover {
    text-decoration: none;
    background-color: #ec6922;
}

#popup_info {
    display: flex;
    background-color: red;
    border: 0.5em solid yellow;
    justify-content: center;
    align-items: center;
    height: 20em;
    max-width: 750px;
}

#popup_info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: whitesmoke;
}

@media only screen and (min-width: 320px) {
    #popup_info {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    #popup_info {
        width: 295px;
    }
}

@media only screen and (min-height: 320px) {
    #popup_info {
        height: 130%;
    }
}

@media only screen and (max-height: 320px) {
    #popup_info {
        height: 30em;
    }
}