.photo {
    margin-left: 50%
}

.my-jumbotron {
    width: 100%;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.my-jumbotron-slogan {
    background: rgba(0,0,0,0.4);
}